p {
    letter-spacing: 1px;
    font-weight: bold;
    color: #868AA5;
}
.containerAll {
    width: 100%;
    display: flex;
}
.container {
    background: #d7d7d8;
    padding: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -8px;
    left: -8px;
    width: 12rem;
}
.divSettings {
    padding: 0 12px 0 12px;
    display: flex;
    flex-direction: column;
}
.divSettings p {
    cursor: default !important;
}
.settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.iconSettings {
    width: 2rem;
    height: 2rem;
    border-radius: 6px;
    border: 1.5px solid#868AA5;
    cursor: pointer;
    transition: .3s;
}
.iconSettings:hover {
    background: #fff;
}

.divBtnsOptions {
    display: flex;
    flex-direction: column;
}
.divBtnsOptions div {
    border-radius: 8px;
    display: flex;
    padding: 0 8px 0 8px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: .75rem;
    font-family: Helvetica Narrow, sans-serif;
    cursor: pointer;
    transition: .3s;
}
.divBtnsOptions div:hover {
    background: #fff;
}
.icons {
    width: 1.5rem;
    height: 1.5rem;
}
.iconOptions {
    width: 1.5rem;
    height: 1.5rem;
}
.pUrl {
    padding: 0 6px 0 6px;
    display: flex;
    text-align: center;
    overflow-wrap: break-word;
}
.right {
    width: 90%;
}
.selected {
    color: #2f3367;
}

@media (max-width: 1080px) {
    .containerAll {
        flex-direction: column;
    }
    .container {
        width: 100%;
    }
    .divBtnsOptions {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .divBtnsOptions div {
        width: 12rem;
        margin-right: 12px;
        border: 1.5px solid #868AA5
    }
    .right {
        width: 100%;
    }
}