.countryList {
  background-color: #eeee;
  width: 340px; /* Establece el ancho deseado para el div */
  height: 340px; /* Establece la altura deseada para el div */
  overflow: auto;
  border-radius: 4px;
  z-index: 10;
  box-shadow: 0 0 3px 1px rgb(0, 0, 0, 0.35);
  margin-top: 0.2rem;
}
.countryList h6 {
  font-family: Montserrat;
  font-size: 0.9rem;
  color: #555555;
  letter-spacing: 1px;
}
.btnDelete {
  margin: 0 0 0 10px;
  border-radius: 1rem;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #eeee;
  background: #2f3367;
  cursor: pointer;
}
.btnArrow {
  margin: 0 0 0 10px;
  border-radius: 1rem;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #eeee;
  background: #9283bd;
  cursor: pointer;
  transition: .3s;
}
.btnArrow:hover {
  background: #59b4b4;
}
