.box input {
  font-family: Montserrat;
  letter-spacing: 1px;
  border-radius: 1rem;
  border: 2px solid #9283bd;
  font-weight: bold;
  color: #424242;
  z-index: 1;
  padding-left: 10px;
  height: 1.5rem;
}
.box label {
  font-family: Montserrat;
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #555555;
  margin-bottom: 0.2rem;
  z-index: 1;
  padding-left: 10px;
}
.box h2 {
  letter-spacing: .075rem;
  color: #9283bd;
}
.box {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: .2rem;
  margin: 2rem 1rem 0 1rem;
  border: .1rem solid #9283bd;
}
.formContainer {
  background: #fff;
  padding: 3px;
  display: flex;
  flex-wrap: wrap;
}
.formContainer > div {
  width: 26rem;
  height: 4rem;
  margin: 0 1rem 1rem 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}
.formContainer > div > p {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  color: #e33e3e;
}
.containerCountries {
  display: flex;
  flex-direction: column;
}
.btnSubmit {
  width: fit-content;
  padding: 0 0.5rem 0 0.5rem;
  margin: 3rem 1rem 0 0;
  font-family: Monserrat;
  letter-spacing: 1px;
  z-index: 1;
  align-self: flex-end;
  background: #9283bd;
  height: auto;
  max-width: 28rem;
  color: #fff;
  padding: .2rem .8rem .2rem .8rem;
  margin-top: 12px;
  border-radius: .2rem;
  border: none;
  font-weight: bold;
  font-size: 0.85rem;
  letter-spacing: .075rem;
  cursor: pointer;
  transition: 0.3s;
}

.btnSubmit:hover {
  background: #59b4b4;
}