.divContainer {
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0px 0px 12px 6px #727272;
}
.imgBackground {
    height: 100vh;
    border-radius: 6px 0 0 6px;
}
.dos {
    background-color: #fff;
    border-radius: 12px;
    padding: 12px;
    margin: 12px;
    width: 50%;
    display: flex;
    justify-content: center;
}

@media (max-width: 1110px) {
    .dos {
        border-radius: 12px;
        width: 100%;
        padding: 0px;
    }
    .container {
        box-shadow: none;

    }
    .divContainer {
        box-shadow: none;
    }
    .imgBackground {
        display: none;
    }
}